header {
  
  
}
body {
  background: url(wp4181170_2.jpg) no-repeat left; 

  min-width: 200px;
  background-color:white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: small;
  box-sizing: border-box;
}

.container {
  max-width: 400px;


}

.container2 {
  max-width: 400px;
  text-align: left;
}

.noncontainer {
  max-width: 1000px;
}

.duo {
  column-count: 2;
  max-width: 400px;
  text-align:center;
}