header {
  
  
}
body {
  background: url(wp4181170_2.jpg) no-repeat center left; 

  min-width: 1200px;
  text-align:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: small;
  box-sizing: border-box;
}

.container {
  max-width: 570px;


}