header {
  
  
}
body {
  background: url(https://wallpapercave.com/wp/wp4181170.jpg) no-repeat center left; 
  background-size: cover;
  min-height: 800px;
  text-align:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: small;
  box-sizing: border-box;
}

.container {
  max-width: 470px;


}